body{
  background-color: dark;
  background: rgb(24, 2, 2);

}
.title{
  font-weight: 700;
  background-color: aquamarine;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid  ;
}

#joke {
  background-color: aqua;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: inset;
color: brown;
}