
.title {
  color: blue;
  background-color: lightgray;
  background: wheat;
  font-weight: bold;
  height: 50px;
  width: 600px;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

#output {
  color: green;
  background-color: gray;
  font-weight: 500;
  font-size: larger;
  height: 100px;
  width: 400px;
  align-items: center;
  justify-content: center;
  padding:20px;
  margin: 5px;
  border-radius: 10px;
}

.btn {
  background-color: lightblue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

